*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/
data
argument/
scripts/
*.mp4
checkpoint-500/
*.bin
__MACOSX/
**/__MACOSX/
*.ply
olddata
*.out
*.zip
output_flow/
exp_data/
